h1,h2,h3,h4,h5,h6{
	text-align: center;
	//box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
	margin: 0 auto;
}

h1
{
	color:#000066;
	background:#ddddff;
	border:5px solid #000066
}

h2
{
	color:white;
	background:#000099;
}


h3
{
	color:white;
	background:#0000ff;
}


h4
{
	padding-left:2em;
	color:black;
	background:#ddddff;
}

table{
	border: solid 1px black; 
	border-collapse: collapse;
	margin-right:auto; 
	margin-left:auto;
}

th{
	border: solid 1px black;
}

td{
	border: solid 1px black;
	text-align: center;
}